version: 2.1
orbs:
  node: circleci/node@1.1
jobs:
  build:
    working_directory: ~/people-services
    executor:
      name: node/default
    steps:
      - run: npm ci
      - run: npm run build
      - run: npm run test
