version: 2.1
orbs:
  node: circleci/node@1.1
jobs:
  build:
    executor:
      name: node/default
    steps:
      - run: cd ./people-services
      - run: npm ci
      - run: npm run build
      - run: npm run test
