<div class="list row">
  <div class="col-md-6">
    <h4>People List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let person of people; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePerson( person, i )"
      >
        {{ person.fullname }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPerson">
      <h4>Person</h4>
      <div>
        <label><strong>Fullname:</strong></label> {{ currentPerson.fullname }}
      </div>
      <div>
        <label><strong>Birth:</strong></label>
        {{ currentPerson.birth }}
      </div>
    </div>

    <div *ngIf="!currentPerson">
      <br />
      <p>Please click on a Person...</p>
    </div>
  </div>
</div>